.confirm {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 30px;
}

.confirm__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.confirm__agree {

    display: block;

    min-width: 16px;
    min-height: 15px;
    border: 2px solid $main-color;

    border-radius: 3px;

    transition-property: background-color, background-image, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.confirm__checkbox:checked+.confirm__agree {
    border-color: $hover-color;

    background-color: $hover-color;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;

}

.confirm__text {
    margin-left: 8px;

    // line-height: 1.71;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
    color: $main-secondary-color;

    @media screen and (min-width:1200px) { 
        font-size: 14px;
        line-height: 1.71;
    }
}

.confirm__link {
    color: rgba(33, 150, 243, 1);
    margin-left: 3px;
    font-size: 12px;
    line-height: 1.16;

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.71;
        }
}