.customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 480px) {
            justify-content: center;
        }
    
}

.customers__item { 
    
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {

        flex-basis: calc((100% - 60px) / 3);
        
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 150px) / 6);
    }
         
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 92px;
    border: 1px solid $client-color;
    border-radius: 4px;
    color: $client-color;

    transition: color $animation-cubic,
        border-color $animation-cubic;

    &:hover,
        &:focus {
            color: $hover-color;
            border-color: $hover-color;
        }

    // @media screen and (min-width: 480px) and (max-width: 480px){
    //     width: 210px;
    
    // } 

    // @media screen and (min-width: 768px) {
    //     width: 226px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 170px;
    //     }

}

.customers--icon {
    fill: currentColor;
    width: 106px;
    height: 60px;

}