.footer {

    padding: 60px 0;
    background-color: $heder-backg-color;

}

//  .logo {
//      color: $hover-color;

//  }

.footer__group {

    @media screen and (min-width: 768px) and (max-width:1199px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }


    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
    }
    
}

.group { 
    text-align: center;

    @media screen and (max-width: 767px) { 
        margin-bottom: 60px;
    }
    

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
}

.footer__link {
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: $font-bolt;
    font-size: 26px;
    line-height: 1.19px;

    letter-spacing: 0.03em;
}

.footer--logo-white {
    color: $main-backg-color;

}

.address {
    font-style: normal;
}

.address__item+.address__item {
    margin-top: 9px;
}


.address__location {

    color: $main-backg-color;
    font-weight: 400;
    line-height: 1.71;

    transition: color $animation-cubic;

    &:hover,
        &:focus {
            color: $hover-color;
        }
}


.address__contact {
    font-weight: 400;
    line-height: 1.71;
    color: $contact-footer;

    transition: color $animation-cubic;

    &:hover,
        &:focus {
            color: $hover-color;
        }
}

