.logo {
    
    align-self: center;

    color: $main-color;

    font-family: "Raleway", sans-serif;
    font-weight: $font-bolt;
    font-size: 26px;
    line-height: 1.19;
    
    color: $hover-color;
 
    
}

.logo-dark {
    color: $main-color;
    
}

.logo-decor { 
    // margin-right: 93px;
    padding: 16px 0;

    @media screen and (min-width:768px) and (max-width:1199px){
        margin-right: 88px;
    }

        @media screen and (min-width:1200px) { 
            margin-right: 93px;
        }
}
