.overlay {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.overlay__text {
    position: absolute;
    
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    color: $main-backg-color;

    opacity: 0;

    background-color: rgba(33, 150, 243, 0.9);

    // @media screen and (max-width:767px) {
    //     padding: 77px 24px;
    // }
    padding: 0 24px;
    transform: translateY(100%);
    transition: background-color $animation-cubic,
        opacity $animation-cubic,
        transform $animation-cubic;

        .proposition__link:hover &,
            .proposition__link:focus & {
        
                opacity: 1;
                transform: translateY(0);
            }
}


