.proposition {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}

.proposition__item {


    // width: 450px;
    // height: 404px;
    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 60px) / 2);

        }

     @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 60px) / 3);
        
     }
   
 

}

.proposition__link {
    display: block;
    text-decoration: none;

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    transition: box-shadow $animation-cubic;

    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}




.proposition__decor-text {
    padding: 20px 24px;
    border: 1px solid $border-color;
    border-top: none;
    flex-grow: 1;

}


.proposition__title {

    margin-bottom: 4px;

    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.proposition__content {

    color: $main-secondary-color;

    font-size: 16px;
    line-height: 1.87;

    // @media screen and (min-width:768px) {
    //        &:first-child {margin-bottom: 50px;} 
    //     }
}