.team--bg {
    // @extend %section;
    // @extend %container;
    background-color: $secondary-section-color;

    $item: 5;
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }

}

.team__item {
    background-color: $main-backg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // @media screen and (min-width: 480px) {
    //     width: 450px;
    //     height: 622px;
    // }

    @media screen and (min-width: 768px) {
        width: 354px;
        // height: 536px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
    }
}

// .team__item+.team__item {
//     margin-left: 30px;
// }

.team__decor {
    padding-top: 30px;
    padding-bottom: 24px;
    

    @media screen and (min-width: 1200px) {
        padding: 30px 0;
    }

}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;

}

.team__profesion {

    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;

    color: $main-secondary-color;
}